
// ----------------------------------
// BaseKit Rows: Stylesheet
// ----------------------------------

body:not(.edit) #page-zones__header {
    position: sticky;
    top: 0;
    z-index: 4;
  }
  /* prevent sticky from showing in editor mode */
  body:not(.edit) .row--header-11a .row__container [data-name="responsivecolumns"]:first-child {
    margin: 30px auto;
    max-width: 1300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    z-index: 4;
  }
  /* mobile tweaks */
  @media screen and (max-width: 799px) {
    /* left-align content */
    .contentgroup--center,
    *[style*="text-align: center"] {
      text-align: left !important;
    }
    /* hide line breaks */
    .widget__contentgroup br {
      display: none !important;
    }
    h1, h2, h3, h4, h5, *[class*="wysiwyg-font-size"] {
      line-height: 1.25 !important;
    }
    .healme-booking-widget .button {
      width: 100% !important;
    }
  }
  
  /* booking widget */
  :root {
    --healme-widget-color-primary: 221 1 133 !important;
    --healme-widget-border-radius: 8px !important;
  }
  .healme-widget * {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    letter-spacing: 0 !important;
    text-transform: none !important;
  }
  .healme-widget .sticky {
    z-index: 10 !important;
  }
  .healme-widget input[type="radio"] {
    -webkit-appearance: auto !important;
    appearance: auto !important;
  }
    